body {
    text-align: center;
    
}

h1{
    text-align: center;
    elevation: 10px;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    color: #fff;
    text-shadow: 2px 2px #000;
   
}

img{
    text-align: center;
}